table{
    width: 100%;
    background-color: rgb(77, 189, 111);
    border-top: 0px;
}

a{
    text-decoration: none;
    color: aliceblue;
}


.mt{
   padding-left: 27%;

}

.mim{
    padding-left: 27%;
}

.ch{
    padding-left:12%
}

.eko{
    padding-left: 8%;
}

.mox{
    padding-left: 5%;
}

th{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

img{
    width: 60px;
    margin-left: 160px;
    margin-right: -160px;
}

h1{
    margin-left: 0%;
}