table{
    width: 100%;
    background-color: aquamarine;
    

}



.mt{
   padding-left: 27%;

}

.mim{
    padding-left: 27%;
}

.ch{
    padding-left:12%
}

.eko{
    padding-left: 8%;
}

.mox{
    padding-left: 5%;
}